$lilla: #be92f1;
$white: white;
$black: black;
$bgViola: #630fc4;
$btnVerde: #4caf4f;
$btnArancio: #fe8700;
$btnBlu: #106bff;

header {
  background-color: $bgViola;
  a {
    color: $white;
  }
  img {
    border: 1px solid $lilla;
  }
}

.hero {
  p {
    color: $lilla;
  }
  button {
    color: $white;
  }
}

#btn1 {
  background-color: $btnBlu;
}

#btn2 {
  background-color: $btnArancio;
}

#btn3 {
  background-color: $btnVerde;
}

header {
  .hero {
    img {
      box-shadow: 0px 10px 23px 7px rgba(0, 0, 0, 0.1);
    }
  }
}
