.hero {
    height: 50vh;

    img {
        top: 27%;
        left: 65%;
        width: 28% !important;
    }
}

main {
    height: 40vh;
    margin-top: 6em;
    img {
        width: 100%;
    }
}

h1 {
    letter-spacing: -5px;
}